@font-face {
    font-family: 'Figtree';
    src: url(assets/fonts/Figtree-VariableFont_wght.ttf);
}
body{
    background-color:#f5D04E;
    display:flex;
    justify-content:center;
    margin:10% auto;
}
.card{
    width:335px;
    height:500px;
    padding:15px 20px;
    border-radius:15px;
    background-color: aliceblue;
    font-family:'Figtree';
    border:solid 1px;
}
.card:hover{
    transition:0.0.9m;
    border-right:solid 5px;
    border-bottom:solid 5px;
}
.graphic{
    border-radius:10px;
    padding:0%;
    margin:0%;
}
.content{
    color:grey;
    font-size:large;
}
.avatar{
    width:50px;
    height:50px;
    border-radius:50px;
}
.Avatar{
    padding-top:20px;
    display:flex;
    justify-content:start;
    align-items: center;
    flex-wrap: wrap;
    gap:10px;
}
.catagory{
    border-radius:5px;
    width:95px;
    height:40px;
    margin:10px;
    display:flex;
    align-items:center;
    text-align:center;
    justify-content: center;
}
.catagory:hover{
    background-color:#f5D04E;
    cursor:pointer;
}